*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 15px auto;
  font-family: "Noto Serif", serif;
}
p,
h1,
h2,
h3,
a,
ul {
  text-decoration: none;
  color: #252525;
}
li {
  list-style: none;
}
